[Unit]
Description=NGINX Prometheus Exporter
After=network.target

[Service]
ExecStart=/usr/local/bin/nginx-prometheus-exporter -nginx.scrape-uri=http://127.0.0.1:80/stub_status
Restart=always
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target
